<link rel="stylesheet" href="/styles/footer.css" />

<footer id="ir-footer" class="footer-base">
  <div class="ir-container ir-footer-inner">
    <div class="ir-footer-info">
      <span>(주)이룰건축</span>
      <span>경기 용인시 처인구 모현읍 외개일로 171번길 28</span>
      <span>대표: 031-526-2001</span>
      <span>문의: 010-2740-8864</span>
      <span>평일 9:00~17:00</span>
    </div>

    <div class="ir-footer-links">
      <a href="#">인스타그램</a>
      <a href="#">유튜브</a>
      <a href="#">E. must@irul.kr</a>
    </div>
  </div>
</footer>
