<link rel="stylesheet" href="/styles/global.css" />
<link rel="stylesheet" href="/styles/header.css" />

<header id="ir-header">
  <div class="ir-container ir-header-inner">
    <a href="/index.html" class="ir-logo">
      <img
        src="/assets/logo/이룰건축_로고(그린).png"
        class="img-default"
        alt="이룰건축"
      />
      <img
        src="/assets/logo/이룰건축_로고(화이트).png"
        class="img-scrolled"
        alt="이룰건축"
      />
    </a>

    <nav>
      <ul class="ir-gnb">
        <li><a href="/pages/about.html">회사소개</a></li>
        <li><a href="/pages/product.html">제품소개</a></li>
        <li><a href="/pages/contact.html">건축문의</a></li>
        <li><a href="/pages/gallery.html">갤러리</a></li>
      </ul>
    </nav>
  </div>
</header>
